@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --color-footer: #E2DD7E;
  --color-text: #000000;
  --color-subtext: #383143;
  --color-theme-primary: #D6C000;
  --color-theme-secondary: #FFBB70;
  --color-theme-accent: #FFEC9E;
  --color-theme-accentDark: #BAB241;
  --color-theme-background: #FFFBDA;
  --color-theme-background-dark: #1a1a1a;
  --color-theme-backgroundSecondary: #FDFDFD;
  --color-theme-backgroundSecondaryDark: #54533F;
}

* {
  /* ***DEBUG GHOST*** */
  /* background: #000 !important;
  color: #0f0 !important;
  outline: solid #f00 1px !important; */
}

html {
  scroll-behavior: smooth;
}

body {
  height: 100%;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
